@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,*::after,*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

body {
    margin: 0 100px;
}

input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
}
.titles {
    text-align: center;
}

.input-count {
    margin-top: 50px;
    margin-bottom: 20px;
}
#subjectCount {
    outline: none;
    margin-top: 15px;
    padding: 10px 0px 10px 15px;
}
.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input,.inputTotal {
    outline: none;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 10px 0px 10px 15px;
}
.calculateBtn {
    padding: 10px 15px;
    cursor: pointer;
}

.percentage {
    font-size: 1.2rem;
}
.percentBold {
    font-weight: 600;
}